.post {
    display: grid;
    grid-template-columns: 0.7fr 1.3fr;
    gap: 20px;
    margin-bottom: 20px;
    height: auto;

    @media screen and (max-width: 89.75em) {
    }

    @media screen and (max-width: 56.25em) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 43.75em) {
        grid-template-columns: 1fr;
    }

    @media screen and (max-width: 33.45em) {
    }

    &__img {
        width: 100%;
        height: 200px;

        img {
            object-fit: cover;
            object-position: center center;
            width: 100%;
            height: 100%;
        }
    }

    &__content {
        a {
            text-decoration: none;
            color: inherit;
        }

        h2 {
            margin: 0;
            font-size: 1.8rem;
        }

        &__info {
            margin: 6px 0;
            color: #888;
            font-size: 0.7rem;
            font-weight: bold;
            display: flex;
            gap: 10px;

            &__author {
                color: #333;
            }
        }

        &__description {
            margin: 10px 0;
            line-height: 1.4rem;
        }
    }
}
